<%= form_for(@team) do |f| %>


  <% if @team.errors.any? %>

    <div class="wrapper-greeting">
      <div class="alert alert-danger alert-dismissible" role="alert" id="notice">
        <h4 class="alert-heading">
          <b><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</b>
        </h4>
          <ul>
            <% @team.errors.full_messages.each do |message| %>
              <li>&emsp;<%= message %></li>
            <% end %>
          </ul>
      </div>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>