<header class="wrapper">
	<%= content_tag :h1, @team.name %>
    <div class="dropdown team-dropdown">
		<input type="checkbox" id="dropbtn">
		<label for="dropbtn" class="dropbtn team-dropbtn">
			<i class="fa fa-th fa-midnightblue"></i>
			Teams
		</label>
        <div class="dropdown-triangle team-dropdown-triangle"></div>
        <div class="dropdown-content team-dropdown-content">
            <div class="outer-border-hidden">
                <ul class="pokeballs-grid pokeballs-grid-sm">
                	<%= drop_down_teams pokelist %>
                </ul>
            </div>
        </div>
    </div>
</header>
<main class="wrapper">
	<% if @mytestlines.count == 0 %>
		<div class="notice-wrapper">
			<h2>There are no testlines available for this team.	</h2>
		</div>
	<% end %>
	<% if available %>
	    <section id="available">
	        <h2>Available</h2>
	        <div class="card-deck">
	        	<% @mytestlines.each do |testline| %>
					<% if ( testline.reservations.count ==0) && !testline.isMaintenance? %>
		        		<%= reserve_modal testline %>
						<%= img_modal testline %>
						<%= render partial: 'description', locals: {:testline => testline} %>
			            <div class="card">
			                <div class="card-content">
	                        	<%= card_header testline %>
	                        	<%= card_footer testline %>
			                </div>
			            </div>
			        <% end %>
		        <% end %> 
	        </div>
	    </section>
	<% end %>
	<% if inUse %>
	    <section id="in-use">
	        <h2>In Use</h2>
	        <div class="card-deck">
	        	<% @mytestlines.each do |testline| %>
					<% if ( testline.reservations.count !=0) && !testline.isMaintenance? %>
		        		<%= reserve_modal testline %> 
						<%= img_modal testline %>
			            <%= render partial: 'description', locals: {:testline => testline} %>
			            <div class="card">
			                <div class="card-content">
	                        	<%= card_header testline %>
		                    	<%= card_body testline %>
			                   	<%= card_footer testline %>
			                </div>
			            </div>
			        <% end %>
			    <% end %>
	        </div>
	    </section>
	<% end %>
	<% if maintenance %>
	    <section id="maintenance">
	        <h2>Under Maintenance</h2>
	        <div class="card-deck">
	        	<% @mytestlines.each do |testline| %>
					<% if testline.isMaintenance? %>
						<%= img_modal testline %>
			            <%= render partial: 'description', locals: {:testline => testline} %>
			            <div class="card">
			                <div class="card-content">
	                        	<%= card_header testline %>
			                    <div class="card-body">
	                                <p class="card-text">This testline is under maintenance.</p>
			                    </div>
			                </div>
			            </div>
			        <% end %>
			    <% end %>
	        </div>
	    </section>
	<% end %>
</main>