<main class="wrapper">
	<header class="team-header">
		<h1><%= @team.name %></h1>
		<div class="dropdown team-dropdown">
			<input type="checkbox" id="dropbtn">
			<label for="dropbtn" class="dropbtn team-dropbtn">
				<i class="fa fa-th fa-midnightblue"></i>
				Teams
			</label>
			<div class="dropdown-triangle team-dropdown-triangle"></div>
			<div class="dropdown-content team-dropdown-content">
				<div class="outer-border-hidden">
					<ul class="pokeballs-grid pokeballs-grid-sm">
						<%= drop_down_teams pokelist %>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<% if @testlines.empty? %>
		<div class="notice-wrapper">
			<h2>There are no testlines available for this team.	</h2>
		</div>
	<% end %>
	<% if !@available.empty? %>
	    <section id="available">
	        <h2>Available</h2>
	        <div class="card-deck">
				<%= render partial: "partials/card", collection: @available, 
					as: :testline, locals: {color: "bg-green", icon: "fa-check"} %>
	        </div>
	    </section>
	<% end %>
	<% if !@used.empty? %>
	    <section id="in-use">
	        <h2>In Use</h2>
	        <div class="card-deck">
				<%= render partial: "partials/card", collection: @used, 
					as: :testline, locals: {color: "bg-red", icon: "fa-times"} %>
	        </div>
	    </section>
	<% end %>
	<% if !@inMaintenance.empty? %>
	    <section id="maintenance">
	        <h2>Under Maintenance</h2>
	        <div class="card-deck">
				<%= render partial: "partials/card", collection: @inMaintenance, 
					as: :testline, locals: {color: "bg-yellow", icon: "fa-exclamation-triangle"} %>
	        </div>
	    </section>
	<% end %>
</main>
<%= render partial: "partials/reserve_modal" %>
<%= render partial: "partials/img_modal" %>
<%= render partial: "partials/description_modal" %>
<%= render partial: "partials/confirm_modal", :locals => modal_content("reservations") %>
<script type="text/javascript">
	var t = new Object();
	var pt =  Math.floor(new Date().getTime() / 1000);
	<%= timer_script @testlines %>
	var timers = Object.keys(t);
	startTime();
</script>