<h1>TLR Form</h1>

<%= form_tag %>
  <%= label :sessions, :testLine, 'Test Line' %>
  <%= text_field :sessions, :testLine %>
  <br />
  <br />
  <%= label :sessions, :teamName, 'Team' %>
  <%= text_field :sessions, :testName %>
  <br />
  <br />
  <%= label :sessions, :inOut, 'In-Out' %>
  <%= #insert comment here %>
