<% if user_signed_in? && current_user.isAdmin? %>
  <% balls = pokelist %>
  <main class="wrapper" id="sidenav-container">
      <%= render partial: 'sidenav', :locals => {:sect => "associations"} %>

      <section id="associations-admin">
          <header>
              <button type="button" class="sidenav-toggler" onclick="toggleSideNav()">
                  <i class="fa fa-caret-left show-left"></i> 
                  <i class="fa fa-navicon"></i> 
                  <i class="fa fa-caret-right show-right"></i>
              </button>
              <h2>Associations <i class="fa fa-exchange"></i></h2>

              <% if !notice.blank? %>
                <div class="notice-wrapper">
                  <h4> <%= notice %> </h4>
                </div>
              <% end %>

          </header>
          <div class="card-deck">
            <% @testlines.each do |testline| %>
              <div class="card">
                  <div class="card-content">
                      <div class="card-header bg-blue">
                          <div class="status-circle bg-green">
                              <i class="fa fa-check fa-white"></i>
                          </div>
                          <i class="fa fa-server testline-icon text-white"></i>
                          <div class="card-header-overlay">
                              <h3><%= testline.name %></h3>
                              <button type="button" class="add-rel show-rel-modal" onclick="activate_modal(<%= testline.id %>)">
                                  <i class="fa fa-plus"></i> Add Team
                              </button>
                          </div>
                      </div>
                      <div class="card-body">
                        <div class="outer-border-hidden">
                           <ul class="pokeballs-grid pokeballs-grid-sm">
                              <% @teams.each do |team| %>
                                <% @team_testlines.each do |team_testline| %>
                                   <% if team_testline.testline_id == testline.id && team.id == team_testline.team_id %>
                                      <li>
                                        <%= button_to team_testline, method: :delete, :class => "release show-delete-modal" , :type => "button", form: {:onsubmit => "return ask_modal(-#{team_testline.id});", :id => "-#{team_testline.id}"} do %><i class="fa fa-times"></i><% end %>
                                          <span class="<%= balls[team.id % 20] %>"></span><%= team.name %>
                                      </li>
                                    <% end %>
                                  <% end %>
                              <% end %>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="modal" id="<%= testline.id %>">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Pick a Team</h4>
                      <button type="button" class="modal-close" onclick="deactivate_modal(<%= testline.id %>)">&times;</button>
                    </div>
                    <div class="modal-body" >
                      <div class="outer-border-hidden">
                        <ul class="pokeballs-grid pokeballs-grid-lg">
                          <% t = false %>
                          <% @teams.each do |team| %>
                            <% if !TeamTestline.exists?(team_id: team.id, testline_id: testline.id) %>
                              <li>
                                <%= form_for(@team_testline) do |f| %>
                                  <%= f.hidden_field :team_id, :value => team.id %>
                                  <%= f.hidden_field :testline_id, :value => testline.id %>
                                  <button type="submit" class="pokeballs-item"><span class="<%= balls[team.id % 20] %>"></span><%= team.name %></button>
                                <% end %>
                                <% t = true %>
                              </li>
                            <% end %>
                          <% end %>
                         </ul>
                        </div>
                       <div>
                        <% if t == false %>
                          <p class="card-text">All teams are able to use this testline.</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
      </section>
  </main>
<% else %>
  <%= render 'error' %>
<% end %>

<div class="modal" id="remove_access">
    <div class="modal-confirm">
      <div class="modal-header">
          <button type="button" class="modal-close" onclick="cancel_modal()">&times;</button>
          <h3 class="modal-title"><i class="fa fa-trash"></i> Delete</h3>
      </div>
      <div class="modal-body">
        <p class="modal-text">Are you sure you want to remove this team's access from this testline?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-btn bg-red" onclick="confirm_modal()">Delete</button>
        <button type="button" class="modal-btn" onclick="cancel_modal()">Cancel</button>
      </div>
  </div>
</div>

<script>
</script>

<style>
  .notice-wrapper{
    margin: 0 10px;
    margin-bottom: 15px;
    background-color: #cee5ce;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #878888;
  }
</style>

