<% if user_signed_in? && current_user.isAdmin? %>
  <% balls = pokelist %>
  <main class="wrapper">
    <article>
      <%= render partial: 'sidenav', :locals => {:sect => "associations"} %>
      <section class="tabcontent">
        <h2>
          <i class="fa fa-navicon sidenav-toggle"></i> Associations
        </h2>
        <div class="card-deck">
          <% @testlines.each do |testline| %>
            <div class="modal-as" id="<%= testline.id %>">
              <div class="modal-content-as">
                <div class="modal-header-as">
                  <h4 class="modal-title-as">Add team to <%= testline.name %></h4>
                  <button type="button" class="modal-close-as" onclick="deactivate_modal(<%= testline.id %>)">&times;</button>
                </div>
                <div class="modal-body-as">
                  <ul>
                    <% t = false %>
                    <% @teams.each do |team| %>
                      <% if !TeamTestline.exists?(team_id: team.id, testline_id: testline.id) %>
                        <li>
                          <%= form_for(@team_testline) do |f| %>
                            <%= f.hidden_field :team_id, :value => team.id %>
                            <%= f.hidden_field :testline_id, :value => testline.id %>
                            <button type="submit"><span class="<%= balls[team.id % 20] %>"></span><%= team.name %></button>
                          <% end %>
                          <% t = true %>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                  <div>
                    <% if t == false %>
                      <p class="card-text">All teams are able to use this testline.</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-tl">
              <div class="card-header bg-green">
                <h3 class="card-tl-title"><%= testline.name %></h3>
                <button class="card-tl-add" id="modal-btn" onclick="activate_modal(<%= testline.id %>)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
              <div class="card-content">
                <ul class="card-teams">
                  <% @teams.each do |team| %>
                    <% @team_testlines.each do |team_testline| %>
                      <% if team_testline.testline_id == testline.id && team.id == team_testline.team_id %>
                        <li class="card-team-icon">
                          <span class="<%= balls[team.id % 20] %>"></span><%= team.name %>
                          <div class="modal-as" id="-#{team_testline.id}">
                            <div class="modal-content-as" style="max-width: 400px;">
                              <div class="modal-header-as bg-red">
                                <h4 class="modal-title-as"><i class="fa fa-trash"></i> Delete</h4>
                                <button type="button" class="modal-close-as bg-red">&times;</button>
                              </div>
                              <div class="modal-body-as">
                                <p class="modal-text">Are you sure you want to delete this?</p>
                              </div>
                              <div class="modal-footer-as">
                                <%= button_to 'Delete', team_testline, method: :delete, :class => "modal-btn-as bg-red" %>
                                <button type="button" class="modal-btn-as" onclick="deactivate(#{team_testline.id})">Cancel</button>
                              </div>
                            </div>
                          </div>
                          <%= content_tag :button, 'x', :onclick => "activate_modal(#{team_testline.id}", :class => "card-team-close" %>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    </article>
  </main>
<% else %>
  <%= render 'error' %>
<% end %>

<script>
  function activate_modal(id) {
    var s = document.getElementById(id);
      s.style.display = "block";
  }

  function deactivate_modal(id) {
    var s = document.getElementById(id);
      s.style.display = "none";
  }
</script>
