<% balls = pokelist %>
<main class="wrapper">
	<article>
		<%= render 'sidenav' %>
		<section class="tabcontent">
			<h2>
				<i class="fa fa-navicon sidenav-toggle"></i> Associations
			</h2>
			<div class="card-deck">
				<% @testlines.each do |testline| %>
					<div class="modal-as" id="<%= testline.id %>">
						<div class="modal-content-as">
							<div class="modal-header-as">
								<h4 class="modal-title-as">Add team to <%= testline.name %></h4>
								<button type="button" class="modal-close-as" onclick="deactivate_modal(<%= testline.id %>)">&times;</button>
							</div>
							<div class="modal-body-as">
								<ul>
									<% @teams.each do |team| %>
										<li>
											<a href=""><span class="<%= balls[team.id % 20] %>"></span><%= team.name %></a>
										</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
  				<div class="card-tl">
  					<div class="card-header bg-green">
  						<h3 class="card-tl-title"><%= testline.name %></h3>
  						<button class="card-tl-add" id="modal-btn" onclick="activate_modal(<%= testline.id %>)">
  							<i class="fa fa-plus"></i>
  						</button>
  					</div>
  					<div class="card-content">
  						<ul class="card-teams">
                <% @teams.each do |team| %>
                  <% @team_testlines.each do |team_testline| %>
                    <% if team_testline.testline_id == testline.id && team.id == team_testline.team_id %>
                      <li class="card-team-icon">
                        <span class="<%= balls[team.id % 20] %>"></span><%= team.name %>
                        <%= button_to 'x', team_testline, method: :delete, data: { confirm: 'Are you sure?' }, :class => "card-team-close" %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
  						</ul>
  					</div>
  				</div>
				<% end %>
			</div>
		</section>
	</article>
</main>

<script>
  function activate_modal(id) {
    var s = document.getElementById(id);
      s.style.display = "block";
  }

  function deactivate_modal(id) {
    var s = document.getElementById(id);
      s.style.display = "none";
  }
</script>

<% if user_signed_in? %>

<% if current_user.isAdmin? %>

<%= link_to 'New Team testline', new_team_testline_path %>

<% else %>
	
	<h1>Sorry, you need to be an admin to view this page.</h1>
	<p>Please contact the administrator if you want to be one.</p>

<% end %>

<% else %>

<h1>Sorry, you need to be logged-in to view this page.</h1>

<% end %>
