<% if user_signed_in? %>
	<% if current_user.isAdmin? %>

		<br>
		<h1>Teams</h1>
		<br>

		<% if @teams.blank? %>
			There are no teams yet.

		<% else %>

			<% @teams.each do |team| %>

			    <%= team.name %>
			    <%= link_to 'Show', team %>
			    <%= link_to 'Edit', edit_team_path(team) %>
			    <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>

			<% end %>

		<% end %>

	<br>
	
	<%= link_to 'New Team', new_team_path %>


	<% else %>

		<h1>Sorry, you need to be an admin to view this page.</h1>
		<p>Please contact the administrator if you want to be one.</p>

	<% end %>

<% else %>

	<h1>Sorry, you need to be logged-in to view this page.</h1>

<% end %>
