<% if user_signed_in? && current_user.isAdmin? %>
    <main class="wrapper" id="sidenav-container">
        <%= render partial: 'sidenav', :locals => {:sect => "teams"} %>
            <section id="teams-admin">
                <header>
                    <%= render partial: 'header', :locals => header("Teams") %>
                    <%= link_to new_team_path, remote: true, class: "add-btn" do %>
                        <i class="fa fa-plus"></i> New Team
                    <% end %>
                    <%= admin_notice(@teams, "teams", notice) %>
                </header>

                <div class="outer-border-hidden">
                    <ul class="letters-grid letters-grid-lg">
                        <% @teams.each_with_index do |team, index| %>
                            <li>
                                <%= link_to team, remote: true, :method => :delete, 
							    	data: {confirm: "Are you sure you want to delete this team?"}, 
                                    :class => 'release' do %><i class="fa fa-times"></i>
                                <% end %>
                                <span class="<%= letterPicker(team.name, "lg") %>"></span>
                                <%= team.name %>
                                <div class="team-nav">
                                    <%= link_to "Rename", edit_team_path(team), remote: true, 
                                        class: "team-link" %>
                                    <a href="javascript:void(0)" class="team-link"
                                        onclick="toggleTeamOverlay('team-overlay-<%= index %>')">View Members</a>
                                </div>
                                <div class="team-overlay" id="team-overlay-<%= index %>">
                                    <% if team.users.empty? %>
                                        <p>There are currently no members for this team</p>
                                    <% else %>
                                        <ul>
                                            <% team.users.each do |member| %>
                                                <li>
                                                    <%= member.email %>
                                                    <% if member.isAdmin? %>
                                                        <small class="member-role">Admin</small>
                                                    <% end %>
                                                </li>
                                            <% end %>
                                        </ul>
                                    <% end %>
                                    <a href="javascript:void(0)" class="team-overlay-close"
                                        onclick="toggleTeamOverlay('team-overlay-<%= index %>')">Close</a>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </section>
    </main>
    <div id="confirmationDialog" class="modal"></div>

    <%= render "modal" %>
<% else %>
    <%= render 'error' %>
<% end %>