<% if user_signed_in? && current_user.isAdmin? %>
    <main class="wrapper" id="sidenav-container">
        <%= render partial: 'sidenav', :locals => {:sect => "teams"} %>
            <section id="teams-admin">
                <header>
                    <%= render partial: 'header', :locals => header("Teams") %>
                    <%= link_to new_team_path, remote: true, class: "add-btn" do %>
                        <i class="fa fa-plus"></i> New Team
                    <% end %>
                    <%= admin_notice(@teams, "teams", notice) %>
                </header>

                <div class="outer-border-hidden">
                    <ul class="letters-grid letters-grid-lg">
                        <% @teams.each do |team| %>
                            <li>
                                <%= link_to team, remote: true, :method => :delete, 
							    	data: {confirm: "Are you sure you want to delete this team?"}, 
                                    :class => 'release' do %><i class="fa fa-times"></i>
                                <% end %>
                                <span class="<%= letterPicker(team.name, "lg") %>"></span>
                                <%= team.name %>
                                <%= link_to "Rename", edit_team_path(team), remote: true, 
                                    class: "rename edit-link" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </section>
    </main>
    <div id="confirmationDialog" class="modal"></div>

    <%= render "modal" %>
<% else %>
    <%= render 'error' %>
<% end %>