<% if user_signed_in? && current_user.isAdmin? %>
	<main class="wrapper" id="sidenav-container">
	    <%= render partial: 'sidenav', :locals => {:sect => "teams"} %>

	    <section id="teams-admin">
	        <header>
	            <button type="button" class="sidenav-toggler">
	                <i class="fa fa-caret-left show-left"></i> 
	                <i class="fa fa-navicon"></i> 
	                <i class="fa fa-caret-right show-right"></i>
	            </button>
	            <h2>Teams <i class="fa fa-users"></i></h2>
	            <button type="button" class="add-btn show-add-modal" onclick="activate_modal(0)">
	                <i class="fa fa-plus"></i> New Team
	            </button>

	            <% if (@teams.empty? && !notice.blank?)%>
					<div class="notice-wrapper">
    					<h4>All teams have been removed. </h4>
    				</div>
				<% elsif !notice.blank? %>
					<div class="notice-wrapper">
						<h4> <%= notice %> </h4>
					</div>
				<% elsif @teams.empty? %>
					<div class="notice-wrapper">
    					<h4>There are no teams yet. </h4>
    				</div>
				<% end %>
	        </header>


	        <div class="outer-border-hidden">
	            <ul class="pokeballs-grid pokeballs-grid-lg">
	            	<% balls = pokelist %>
					<% @teams.each do |team| %>
		                <li>
		                    <button type="button" class="release show-delete-modal" onclick = "activate_modal(-<%= team.id %>)"><i class="fa fa-times"></i></button>
		                    <span class="<%= balls[team.id % 20] %>"></span><%= team.name %>
		                    <%= content_tag :a, 'Rename', :onclick => "activate_modal(#{team.id})", :class => "rename edit-link show-edit-modal" %>
		                </li>
						<%= content_tag :div, :class => "modal", :id => team.id do -%>
							<div class="modal-content">
						        <%= form_for(team) do |f| %>
						            <div class="modal-header">
						                <%= content_tag :span, 'x', :class => "modal-close", :onclick => "deactivate_modal(#{team.id})" %>
						                <h3>Rename team</h3>
						            </div>
						            <div class="modal-body">
						                <label for="team-name">Team Name:</label>
						                <%= f.text_field :name, :tabindex => "1", :required => "required" ,:class=>"form-control"%>
						            </div>
						            <div class="modal-footer">
						                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" class="modal-btn bg-green">Save Changes</button>
						            </div>
						        <% end %>
						    </div>
						<% end %>

						<div class="modal" id="-<%= team.id %>">
		               		<div class="modal-confirm">
								<div class="modal-header">
						            <button type="button" class="modal-close" onclick="deactivate_modal(-<%= team.id %>)">&times;</button>
						            <h3 class="modal-title"><i class="fa fa-trash"></i> Delete</h3>
						        </div>
						        <div class="modal-body">
						            <p class="modal-text">Are you sure you want to delete <%= team.name %>?</p>
						        </div>
						        <div class="modal-footer">
						        	<%= button_to 'Delete', team, method: :delete, :class => "modal-btn bg-red" %>
						        	<button type="button" class="modal-btn" onclick="deactivate_modal(-<%= team.id %>)">Cancel</button>
						        </div>
						    </div>
						</div>
	                <% end %>
	            </ul>
	        </div>
	    </section>
	</main>

	<%= content_tag :div, :class => "modal", :id => "0" do -%>
		<div class="modal-content">
	       <%= form_for(@team, :html => {:class => "reserve"}) do |f| %>
	            <div class="modal-header">
	         	   <%= content_tag :span, 'x', :class => "modal-close", :onclick => "deactivate_modal(0)" %>
	                <h3>Add new team</h3>
	            </div>
	            <div class="modal-body">
	                <label for="team-name">Team Name:</label>
	                <%= f.text_field :name, :tabindex => "1", :required => "required", :class=> "form-control" %>
	            </div>
	            <div class="modal-footer">
	                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" class="modal-btn bg-blue">Add team</button>
	            </div>
	        <% end %>
	    </div>
	<% end %>

<% else %>
	<%= render 'error' %>
<% end %>


<script>
	function activate_modal(id) {
		var s = document.getElementById(id);
	    s.style.display = "block";
	}

	function deactivate_modal(id) {
		var s = document.getElementById(id);
	    s.style.display = "none";
	}
</script>

<style>
	.notice-wrapper{
		margin: 0 10px;
		margin-bottom: 15px;
		background-color: #cee5ce;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0px 1px 10px #878888;
	}
</style>