<% if user_signed_in? && current_user.isAdmin? %>
	<main class="wrapper" id="sidenav-container">
    <%= render partial: 'sidenav', :locals => {:sect => "teams"} %>
    <section id="teams-admin">
      <header>
	    	<%= render partial: 'header', :locals => header("Teams") %>
        <button type="button" class="add-btn modal-open"
					data-target="#team-modal" data-method="post" 
					data-href="<%= teams_path %>">
          <i class="fa fa-plus"></i> New Team
        </button>
        <%= admin_notice(@teams, "teams", notice) %>
      </header>

      <div class="outer-border-hidden">
        <ul class="pokeballs-grid pokeballs-grid-lg">
        	<% balls = pokelist_lg %>
					<% @teams.each do |team| %>
						<li>
							<button type="button" class="release modal-open" 
								data-target="#confirm-modal" data-method="delete"
								data-href="<%= team_path(team) %>">
								<i class="fa fa-times"></i>
							</button>
							<span class="<%= balls[team.id % 20] %>"></span>
							<%= team.name %>
							<a href="javascript:void(0)" class="rename edit-link modal-open"
								data-target="#team-modal" data-method="put" data-team-name="<%= team.name %>"
								data-href="<%= team_path(team) %>">Rename</a>
						</li>
        	<% end %>
        </ul>
      </div>
    </section>
	</main>
	<%= render partial: 'partials/team_modal' %>
	<%= render partial: 'partials/confirm_modal', locals: modal_content("teams") %>
<% else %>
	<%= render 'error' %>
<% end %>