<% if user_signed_in? && current_user.isAdmin? %>
    <main class="wrapper" id="sidenav-container">
        <%= render partial: 'sidenav', :locals => {:sect => "testlines"} %>
        <section id="testlines-admin">
            <header>
                <%= render partial: 'header', :locals => header("Testlines") %>
                <%= link_to new_testline_path, remote: true, class: "add-btn" do %>
                    <i class="fa fa-plus"></i> New Testline
                <% end %>
                <%= admin_notice(@testlines, "testlines", notice) %>
            </header>
            <div class="card-deck">
                <% @testlines.each do |testline| %>
                    <%= render partial: "card", locals: cardProps(testline) %>
                <% end %>
            </div>
        </section>
    </main>
    <div id="confirmationDialog" class="modal"></div>

    <%= render "modal" %>
    <%= render partial: "img_modal" %>
    <%= render partial: "description_modal" %>
<% else %>
    <%= render 'error' %>
<% end %>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var startTimeElements = document.querySelectorAll('.start-time');
        setInterval(function () {
            startTimeElements.forEach(function (element) {
                var stime = new Date(parseInt(element.dataset.stime)).getTime();
                var timeNow = new Date().getTime();
                var timeDiff = (timeNow - stime) / 1000 + "";
                element.textContent = timeDiff.toHHMMSS();
            });
        }, 1000);

        String.prototype.toHHMMSS = function () {
            var sec_num = parseInt(this, 10); // don't forget the second param
            var hours = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            return hours + ':' + minutes + ':' + seconds;
        };
    });
</script>