<% if user_signed_in? && current_user.isAdmin? %>
    <main class="wrapper" id="sidenav-container">
        <%= render partial: 'sidenav', :locals => {:sect => "testlines"} %>
        <section id="testlines-admin">
            <header>
                <%= render partial: 'header', :locals => header("Testlines") %>
                <%= link_to new_testline_path, remote: true, class: "add-btn" do %>
                    <i class="fa fa-plus"></i> New Testline
                <% end %>
                <%= admin_notice(@testlines, "testlines", notice) %>
            </header>
            <div class="card-deck">
                <% @testlines.each do |testline| %>
                    <%= render partial: "card", locals: cardProps(testline) %>
                <% end %>
            </div>
        </section>
    </main>
    <div id="confirmationDialog" class="modal"></div>

    <%= render "modal" %>
    <%= render partial: "img_modal" %>
    <%= render partial: "description_modal" %>
<% else %>
    <%= render 'error' %>
<% end %>
<script type="text/javascript">
    var t = new Object();
    var pt =  Math.floor(new Date().getTime() / 1000);
    <%= timer_script @testlines %>
    var timers = Object.keys(t);
    startTime();
</script>