<% if user_signed_in? && current_user.isAdmin? %>
    <main class="wrapper" id="sidenav-container">
        <%= render partial: 'sidenav', :locals => {:sect => "testlines"} %>
        <section id="testlines-admin">
            <header>
                <%= render partial: 'header', :locals => header("Testlines") %>
                <a href="javascript:void(0)" class="add-btn modal-open"
                    data-href="<%= testlines_path %>" data-target="#testline-modal" 
                    data-method="post"><i class="fa fa-plus"></i> New Testline</a>
                <%= admin_notice(@testlines, "testlines", notice) %>
            </header>
            <div class="card-deck">
                <% @testlines.each do |testline| %>
                    <%= render partial: "partials/card", locals: cardProps(testline) %>
                <% end %>
            </div>
        </section>
    </main>
    <%= render partial: "partials/img_modal" %>
    <%= render partial: "partials/description_modal" %>
    <%= render partial: "partials/testline_modal" %>
    <%= render partial: "partials/confirm_modal", :locals => modal_content("testlines") %>
<% else %>
    <%= render 'error' %>
<% end %>
<script type="text/javascript">
    var t = new Object();
    var pt =  Math.floor(new Date().getTime() / 1000);
    <%= timer_script @testlines %>
    var timers = Object.keys(t);
    startTime();
</script>