<% if user_signed_in? && current_user.isAdmin? %>
    <main class="wrapper" id="sidenav-container">
        <%= render partial: 'sidenav', :locals => {:sect => "testlines"} %>
        <section id="testlines-admin">
            <header>
                <%= render partial: 'header', :locals => header("Testlines") %>
                <%= new_testline_link %>
                <%= admin_notice(@testlines, "testlines", notice) %>
            </header>
            <div class="card-deck">
            	<% @testlines.each do |testline| %>
    	            <div class="card">
    	                <div class="card-content">
                            <%= card_header testline %>
	                        <%= card_body testline %>
                            <%= option_testline testline %>
    	                </div>
    	            </div>
    	        <% end %>   
            </div>
        </section>
    </main>
    <%= testlines_info @testlines %>
    <%= render partial: 'confirm', locals: modal_content("testlines") %>
<% else %>
    <%= render 'error' %>
<% end %>