<% if user_signed_in? && current_user.isAdmin? %>
	<main class="wrapper" id="sidenav-container">
	    <%= render partial: 'sidenav', :locals => {:sect => "users"} %>
	    <section id="users-admin">
			<header>
		    	<%= render partial: 'header', :locals => header("Users") %>
			</header>
	        <ul class="list-group">
	        	<% @users.each do |user| %>
		            <li class="list-item <%= user.isAdmin? ? "list-item-primary" : "" %>">
		                <h3 class="title">
		                    <i class="fa fa-user"></i> <%= user.email %>
		                </h3>
		                <% if user.isAdmin? %>
			                <small class="subtitle">
		                        <i class="fa fa-cogs"></i> Administrator
		                    </small>
		                <% else %>
							<%= link_to admin_makeAdmin_path(user), remote: true, :method => :put, 
								data: {confirm: "Are you sure you want to make this user an admin?<br>" + 
									"<mark> (note: you cannot undo this action.) </mark>"}, 
								:class => 'make-admin-btn' do %>
								<i class="fa fa-lock"></i> Make Admin
							<% end %>
		                <% end %>
		            </li>
		        <% end %>
	        </ul>
	    </section>
	</main>
    <div id="confirmationDialog" class="modal"></div>
<% else %>
	<%= render 'error' %>
<% end %>