<html>

<head>
    <title>index</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>
    <header>
        <div class="wrapper">
            <h1 id="logo">Test Line Reservation</h1>
            <nav>
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="schedule">Schedule</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="main-banner">
        <!-- <img src="/app/assets/images/minimalist-background.png" alt="test-line-reservation"> -->
        <%=image_tag("minimalist-background.png")%>
        <div class="banner-overlay">
            <div class="wrapper">
                <h2>Lorem Ipsum</h2>
                <p>Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.</p>
            </div>
        </div>
    </div>
    <blockquote>
        <h2>Don't know when to reserve? Look at our <a href="">Schedule</a>.</h2>
    </blockquote>
    <main>
        <section class="wrapper">
            <h2>Test Lines</h2>
            <div class="card">
                <!-- <img src="card-banner-1.jpg" alt="card-banner-1"> -->
                <%=image_tag("card-banner-1.jpg")%>
                <div class="card-block">
                    <h4>Line #1</h4>
                    <p>Nulla vitae libero, a pharetra augue.</p>
                    <a href="" class="card-btn">Reserve Now!</a>
                </div>
            </div>
            <div class="card">
                <!-- <img src="images/card-banner-2.jpg" alt="card-banner-1"> -->
                <%=image_tag("card-banner-2.jpg")%>
                <div class="card-block">
                    <h4>Line #1</h4>
                    <p>Nulla vitae libero, a pharetra augue.</p>
                    <a href="" class="card-btn">Reserve Now!</a>
                </div>
            </div>
            <div class="card">
                <!-- <img src="images/card-banner-3.jpg" alt="card-banner-1"> -->
                <%=image_tag("card-banner-3.jpg")%>
                <div class="card-block">
                    <h4>Line #1</h4>
                    <p>Nulla vitae libero, a pharetra augue.</p>
                    <a href="" class="card-btn">Reserve Now!</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="wrapper">
            <div id="copyright">&copy; 2017 Nokia. All Rights reserved.</div>
        </div>
    </footer>
</body>

</html>

<!--Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.-->

<h1>Test Line Reservation</h1>

<br />
	
<%= link_to("Reserve", 
	{:controller => 'sessions',
	 :action => 'new'})  %></li>
