<% if @testline.errors.any? %>
    <div class="notice-wrapper">
        <h4 class="alert-heading">
            <b><%= pluralize(@testline.errors.count, "error") %> 
                prohibited this testline from being saved:</b>
        </h4>
        <ul>
            <% @testline.errors.full_messages.each do |message| %>
                <li>&emsp;<%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for(@testline) do |f| %>
    <div class="modal-body">
        <div id="add-testline">
            <div class="diagram-panel">
                <% if @testline.diagram? %>
                    <%= image_tag(@testline.diagram_url, :id => "preview", 
                        :class => "thumbnail", :onclick => "enlargeImage()") %>
                    <%= f.check_box :remove_diagram %>
                    <%= f.label :remove_diagram, "Remove this uploaded image?" %>
                <% else %>
                    <%= image_tag("insert-photo.png", :id => "preview", 
                        :class => "thumbnail", :onclick => "enlargeImage()") %>
                    <%= f.check_box :remove_diagram, :disabled => "disabled" %>
                    <%= f.label :remove_diagram, "Remove this uploaded image?" %>
                <% end %>
            </div>
            <div class="side-panel">
                <div class="form-group">
                    <label for="testline_name">Testline Name:</label>
                    <%= f.text_field :name, :placeholder => "Name", :required => "required",
                        :class => "form-control" %>
                </div>
                <div class="form-group">
                    <label for="diagram">Diagram:</label>
                    <%= f.file_field :diagram, :id => "diagram", :onchange => "loadFile(event)", :class => "form-control", :accept => "image/*" %>
                </div>
            </div>
            <div class="description-panel">
                <label for="testline_description">Testline Description:</label>
                <%= f.text_area :description, :class => "tinymce", :rows => 20, :cols => 100 %>
                <%= tinymce %>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <div class="form-group">
                <%= f.check_box :isMaintenance %>
                <label for="testline_isMaintenance">Under maintenance</label>
            </div>
            <div class="form-group">
                <%= f.submit :class => "modal-btn bg-green" %>
            </div>
            <div class="form-group">
                <button type="reset" class="modal-btn bg-red">Reset</button>
            </div>
        </div>
    </div>
<% end %>
