  <% if @testline.errors.any? %>

    <div class="wrapper-greeting">
      <div class="alert alert-danger alert-dismissible" role="alert" id="notice">
        <h4 class="alert-heading">
          <b><%= pluralize(@testline.errors.count, "error") %> prohibited this testline from being saved:</b>
        </h4>
          <ul>
            <% @testline.errors.full_messages.each do |message| %>
              <li>&emsp;<%= message %></li>
            <% end %>
          </ul>
      </div>
    </div>

  <% end %>

<div class="container reservation-form">  
  <%= form_for((@testline), :html => {:class => "reserve"}) do |f| %>
    <h3>Create New Testline </h3>
    <fieldset>
      <%= f.text_field :name, :placeholder => "Name", :tabindex => "1", :required => "required" %>
    </fieldset>

    <fieldset>
      <%= f.text_field :ip_address, :placeholder => "IP Address", :tabindex => "1", :required => "required" %>
    </fieldset>

    <fieldset>
      <%= f.text_field :port_number, :placeholder => "Port Number", :tabindex => "1", :required => "required" %>
    </fieldset>

    <% if current_user.isAdmin? %>
    <fieldset>
      <p>Under Maintenance?
      <%= f.check_box :name, :placeholder => "Under Maintenance?", :tabindex => "1", :required => "required" %>
      </p>
    </fieldset>
    <%end%>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  <% end %>
</div>
