<% if @testline.errors.any? %>
  <div class="notice-wrapper">
    <h4 class="alert-heading">
      <b><%= pluralize(@testline.errors.count, "error") %> prohibited this testline from being saved:</b>
    </h4>
    <ul>
      <% @testline.errors.full_messages.each do |message| %>
        <li>&emsp;<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
        
<%= form_for((@testline), :html => {:class => "reserve"}) do |f| %>
    <div class="side-panel">
        <label for="tl-name">Testline Name:</label>
        <%= f.text_field :name, :placeholder => "Name", :required => "required", :id => "tl-name", :class => "form-control" %>
        <label for="ip-address">IP Address:</label>
        <%= f.text_field :ip_address, :placeholder => "127.0.0.1", :required => "required", :id => "ip-address", :class => "form-control" %>
        <label for="port">Port:</label>
        <%= f.text_field :port_number, :placeholder => "8080", :required => "required", :id => "port", :class => "form-control" %>
        
        <label for="diagram">Diagram:</label><br>
        <% if @testline.diagram? %>
          <%= image_tag(@testline.diagram_url, :size => '50x50') %>
          <%= f.check_box :remove_diagram %>
          <%= f.label :remove_diagram, "Remove this uploaded image?" %>
        <% end %>
        <%= f.file_field :diagram, :id => "diagram", :class => "form-control" %>

        <%= f.check_box :isMaintenance, :id => "maintenance" %>
        <label for="maintenance">Under maintenance</label>
    </div>

    <div class="description-panel">
        <label>Testline Description:</label>
        <%= f.text_area :description, :class => "tinymce", :rows => 20, :cols => 120 %>
        <%= tinymce %>
    </div>

    <div class="footer-panel">
        <%= f.submit :class => "add-testline-btn bg-green" %>
        <a href="/admin/testlines" class="cancel-link" data-turbolinks="false">Cancel</a>
    </div>
<% end %>
