<%= form_for(@testline) do |f| %>

  <% if @testline.errors.any? %>

    <div class="wrapper-greeting">
      <div class="alert alert-danger alert-dismissible" role="alert" id="notice">
        <h4 class="alert-heading">
          <b><%= pluralize(@testline.errors.count, "error") %> prohibited this testline from being saved:</b>
        </h4>
          <ul>
            <% @testline.errors.full_messages.each do |message| %>
              <li>&emsp;<%= message %></li>
            <% end %>
          </ul>
      </div>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>

  <div class="field">
    <%= f.label :port_number %><br>
    <%= f.text_field :port_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
