<% teams_without_access(@testline) %>
<% if @noAccess.empty? %>
    <div class="modal-body">
        <p style="text-align: center; margin: 10px;">
            All teams are already able to use this testline.</p>
    </div>
<% else %>
    <%= form_for([@testline, @testline.teams.build]) do |f| %>
        <div class="modal-body">
            <div class="outer-border-hidden">
                <ul class="letters-grid letters-grid-sm">
                    <%= f.collection_check_boxes(:id, @noAccess, :id, :name) do |b| %>
                        <li>
                            <%= b.check_box %>
                            <%= b.label(class: "letters-item") do %>
                                <span class="<%= letterPicker(b.text, "sm") %>"></span><%= b.text %>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-btn">Submit</button>
        </div>
    <% end %>
<% end %>