<aside class="sidenav">
    <div class="wrapper">
        <ul id="tabs">
            <a href="javascript:void(0)" class="closebtn" onclick="toggleSideNav()">
                <i class="fa fa-times"></i></a>
            <% testlines.each do |testline| %>
                <li>
                    <div class="tab-link" data-target="#tl-<%= testline.id %>">
                        <i class="fa fa-server"></i> <%= testline.name %>
                        <% if testline.isMaintenance %>
                            <span class="badge badge-sidenav bg-yellow">
                                <i class="fa fa-exclamation"></i>
                            </span>
                        <% elsif testline.reservations.empty? %>
                            <span class="badge badge-sidenav bg-green">
                                <i class="fa fa-check"></i>
                            </span>
                        <% else %>
                            <span class="badge badge-sidenav bg-blue">
                                <%= testline.reservations.length %>
                            </span>
                        <% end %>
                    </div>
                    <div class="sidenav-submenu">
                        <a href="#" class="sidenav-sublink modal-open" 
                            data-diagram="<%= testline.diagram %>"
                            data-target="#img-modal">Show Diagram</a>
                        <a href="#" class="sidenav-sublink modal-open" 
                            data-content="<%= testline.description %>"
                            data-target="#desc-modal">Show Description</a>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</aside>