<p id="notice"><%= notice %></p>

<h1>Listing Testlines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testlines.each do |testline| %>
        <p><%= testline.name %></p>
        <%= link_to 'Show', testline %>
        <%= link_to 'Edit', edit_testline_path(testline) %>
        <%= link_to 'Destroy', testline, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% @reservations.each do |reserve| %>
          <% if testline.id == reserve.testline_id %>
            <h2><%= reserve.testline_id %> - <%= reserve.name %></h2>
          <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testline', new_testline_path %>
