<p id="notice"><%= notice %></p>

<h1>Testlines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testlines.each do |testline| %>
      <tr>
        <td><%= testline.name %></td>
        <td><%= link_to 'Show', testline %></td>
        <td><%= link_to 'Edit', edit_testline_path(testline) %></td>
        <td><%= link_to 'Destroy', testline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testline', new_testline_path %>
<%= link_to 'Reserve', reservations_path %>
