<p id="notice"><%= notice %></p>

<h1>Listing Testlines</h1>

<table>
  <tbody>
    <% @testlines.each do |testline| %>
        <h2><%= testline.name %>
        <%= link_to 'Reserve', testline %>
        <%= link_to 'Edit', edit_testline_path(testline) %>
        <%= link_to 'Delete', testline, method: :delete, data: { confirm: 'Are you sure?' } %>
        </h2>
        <% @reservations.each do |reserve| %>
          <% if testline.id == reserve.testline_id %>
            <p>Title: <%= reserve.name %></p>
            <p>Team/Username: <%= reserve.team_name %></p>
            <p>Description: <%= reserve.description %></p>
            <br/>
          <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testline', new_testline_path %>
