<% isInit = true %>
<main class="wrapper">
	<article>
		<% reserve1 = firstReserve; %>
		<% if reserve1 == 0 %>
			<div class="wrapper-greeting">
				<div class="alert alert-success alert-dismissible">
					<h4 class="alert-heading">There are no reservations.</h4>
				</div>
			</div>
		<% else %>
		<aside class="sidenav">
			<% @testlines.each do |testline| %>
				<% if ( testline.reservations.count !=0) %>
					<a href="" class="closebtn">
						<i class="fa fa-times"></i>
					</a>
					<% if testline.id == reserve1 %>
						<a href="javascript:void(0)" class="tablinks active" onclick="openReservation(event, '<%= testline.id %>')">
					<% else %>
						<a href="javascript:void(0)" class="tablinks" onclick="openReservation(event, '<%= testline.id %>')">
					<% end %>
						<i class="fa fa-thermometer"></i>
						<%= testline.name %>
					</a>
				<% end %>
			<% end %>
		</aside>

		<% @testlines.each do |testline| %>
			<% if testline.id == reserve1 %>
				<section id="<%= testline.id %>" class="tabcontent" style="display: block;">
			<% else %>
				<section id="<%= testline.id %>" class="tabcontent" style="display: none;">
			<% end %>
					<h2>
						<i class="fa fa-navicon sidenav-toggle"></i> 
						In queue for <%= testline.name %>
					</h2>
					<ul>
						<% currentReserve = true %>
						<% @reservations.each do |reserve| %>
							<% if testline.id == reserve.testline_id %>
								<li class="list-item">
									<h3 class="title"><%=reserve.name%></h3>
									<p class="subtitle"><%=reserve.description%>.</p>
									<p class="description">Reserved for <b><%=reserve.team_name%></b> by <%=reserve.email%> on <%= reserve.created_at.localtime.to_s(:db) %></p>
									<% if current_user.email == reserve.email || current_user.isAdmin? %>
										<% if currentReserve %>
											<%= link_to '<i class="fa fa-times"></i> Release'.html_safe,[reserve.testline,reserve],  method: :delete, data:{confirm: 'Release?'}, :class=>"text-danger" %>
											<% currentReserve = false %>
										<% else %>
											<%= link_to '<i class="fa fa-times"></i> Cancel reservation'.html_safe,[reserve.testline,reserve],  method: :delete, data:{confirm: 'Cancel reservation?'}, :class=>"text-danger" %>
										<% end %>
									<% end %>
								</li>
							<% end %>        
						<% end %>
					</ul>
				</section>
			<% end %>    
		<% end %>
	</article>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>