<main class="wrapper" id="sidenav-container">
	<% if @testlines.length == 0 %>
		<div class="notice-wrapper">
			<h4>There are no test lines yet.</h4>
		</div>
	<% else %>
		<%= render partial: "sidenav", :locals => {testlines: @testlines} %>
		<section id="reservations">
			<article class="tabcontent" style="display: block;">
				<header>
					<%= render partial: "header", :locals => header("") %>
					<%= link_to reservations_download_log_file_path, :class => "download-link", target: :_blank do %>
						<i class="fa fa-download"></i> Download log file
					<% end %>
				</header>
				<h2 style="width: 100%; text-align: center; opacity: 0.75;">
					<i class="fa fa-hand-o-left"></i> Pick a Testline.</h2>
			</article>
			<% @testlines.each do |testline| %>
				<article id="tl-<%= testline.id %>" class="tabcontent" style="display: none;">
					<header>
						<%= render partial: "header", :locals => header(testline.name) %>
						<%= link_to reservations_download_log_file_path, :class => "download-link", target: :_blank do %>
							<i class="fa fa-download"></i> Download log file
						<% end %>
					</header>
					<% if testline.isMaintenance %>
						<div class="notice-wrapper bg-yellow">
							<h4>This test line is under maintenance</h4>
						</div>
					<% else %>
						<% if testline.reservations.length == 0 %>
							<div class="notice-wrapper">
								<h4>This test line is currently not in use.</h4>
							</div>
						<% else %>
							<ul class="list-group">
								<div class="vertical-bar"></div>
								<% testline.reservations.each_with_index do |reserve, index| %>
									<% orderProps = reservationOrder(index) %>
									<li class="list-item list-item-<%= orderProps['class'] %>">
										<small class="badge badge-<%= orderProps['class'] %>">
											<i class="fa <%= orderProps['icon'] %>"></i> 
											<%= orderProps['text'] %></small>
										<div class="list-item-header">
											<h3 class="title"><%= reserve.name %></h3>
											<small class="timestamp"><%= reserve.created_at %></small>
											<p class="subtitle"><%= reserve.team.name %></p>
										</div>
										<p class="description"><%= reserve.description %></p>
										<div class="list-item-footer">
											<small class="user">Reserved by <%= reserve.user.email %></small>
											<% if index == 0 %>
												<div class="time-used">
													<i class="fa fa-clock-o"></i> <span id="tm-<%= testline.id %>"></span>
												</div>
											<% end %>
										</div>
										<% if current_user.isAdmin? || (current_user.email == reserve.user.email)%>
											<button type="button" class="release modal-open"
												data-href="<%= url_for([testline,reserve]) %>" 
												data-target="#confirm-modal" data-method="delete">
												<i class="fa fa-times"></i> Release
											</button>
										<% end %>
									</li>
								<% end %>
							</ul>
						<% end %>
						<div style="text-align: center; clear: both;">
							<a href="javascript:void(0)" class="card-link modal-open" 
								data-href="<%= testline_reservations_path(testline.id) %>" 
								data-teams="<%= testline.teams.to_json(:only => [:id, :name]) %>"
								data-email="<%= current_user.email %>" 
								data-target="#reserve-modal" data-method="post">
								<%= reserveText(testline) %></a>
						</div>
					<% end %>
				</article>
			<% end %>
		</section>
	<% end %>
</main>
<%= render partial: "partials/reserve_modal" %>
<%= render partial: "partials/confirm_modal", :locals => modal_content("reservations") %>
<script type="text/javascript">
	var t = new Object();
	var pt =  Math.floor(new Date().getTime() / 1000);

	<%= timer_script @testlines %>

	var timers = Object.keys(t);
	startTime();
</script>