<script type="text/javascript">
	var t = new Object();
	var pt =  Math.floor(new Date().getTime() / 1000);
</script>

<main class="wrapper" id="sidenav-container">
  <%= testline_sidenav %>
  <section id="reservations">
    <button type="button" class="sidenav-toggler" onclick="toggleSideNav()">
        <i class="fa fa-caret-left show-left"></i> 
        <i class="fa fa-navicon"></i> 
        <i class="fa fa-caret-right show-right"></i>
    </button>
    <h2>Reservations</h2>
    <div class="download-log-file-button">
    	<i class="fa fa-download" aria-hidden="true"></i>
    	<%= link_to 'Download log file', reservations_download_log_file_path, :target => '_blank', :class => "download-log-file-text"%>	
    </div>
    <% @testlines.each do |testline| %>
    	<%= content_tag :ul, "", :id => "tl-#{testline.id}", :class => "list-group", :style => "display: #{reserve_active(testline.id)}" do %>
	    	<% if testline.reservations.count == 0 %>
	    		<%= reserve_notice %>
	    	<% else %>
					<div class="vertical-bar"></div>
	    	<% end %>
				<% pos, sym, info, currentReserve = reserve_init %>
				<% @reservations.each do |reserve| %>
					<% if testline.id == reserve.testline_id %>
						<%= tag = content_tag :li, "", :class => "list-item list-item-#{pos[currentReserve]}" do %>
							<%= content_tag :small, "", :class => "badge badge-#{pos[currentReserve]}" do %>
								<i class="fa fa-sym[currentReserve]"></i><%= info[currentReserve] %></small>
							<% end %>
							<%= reserve_header reserve %>
							<%= content_tag :p, reserve.description, :class => "description" %>
			                <div class="list-item-footer">
			                	<%= content_tag :small, "Reserved by #{reserve.email}", :class => "user" %>
			                    <% if currentReserve == 0 %>
									<script>
										t["tm-<%= testline.id%>"] = <%= (Time.now.minus_with_coercion(reserve.start_time)).to_i %>;
									</script>
									<%= content_tag :span, "", :class => "time-used", :id => "tm-#{testline.id}" do %>
										<i class="fa fa-clock-o"></i>
									<% end %>
								<% end %>
			                </div>
			                <% if current_user.isAdmin? || (current_user.email == reserve.email )%>
			                	<%= button_to [reserve.testline,reserve], method: :delete, :class => "release show-delete-modal", form: {:onsubmit => "return ask_modal(-#{reserve.id});"}, :id => "-#{reserve.id}" do %><i class="fa fa-times"></i> Release <% end %>
			               	<% end %>
				        <% end %>
				        <% currentReserve += 1 %>
		          <% end %> 
		    	<% end %>
		  <% end %>
		<% end %>
  </section>
</main>

<div class="modal" id="remove_access">
    <div class="modal-confirm">
      <div class="modal-header">
        <button type="button" class="modal-close" onclick="cancel_modal()">&times;</button>
        <h3 class="modal-title"><i class="fa fa-trash"></i> Delete</h3>
      </div>
      <div class="modal-body">
        <p class="modal-text">Are you sure you want to delete this team?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-btn bg-red" onclick="confirm_modal()">Delete</button>
        <button type="button" class="modal-btn" onclick="cancel_modal()">Cancel</button>
      </div>
	  </div>
	</div>

<script type="text/javascript">
	var timers = Object.keys(t);
	startTime();
</script>