<% isInit = true %>

<script type="text/javascript">
	var t = new Object();
	var pt =  Math.floor(new Date().getTime() / 1000);
</script>

<main class="wrapper" id="sidenav-container">
	<% reserve1 = firstReserve; %>
	<% if reserve1 == 0 %>
		<div class="wrapper-greeting">
			<div class="alert alert-success alert-dismissible">
				<h4 class="alert-heading">There are no reservations.</h4>
			</div>
		</div>
	<% else %>
	    <aside class="sidenav">
	        <div class="wrapper">
	        	<ul>
		        	<% @testlines.each do |testline| %>
		        		<% if ( testline.reservations.count !=0) %>
		        			<li>
		        				<% if testline.id == reserve1 %>
									<a href="javascript:void(0)" class="sidenav-links active" onclick="openReservation(event, '<%= -testline.id %>')">
								<% else %>
									<a href="javascript:void(0)" class="sidenav-links" onclick="openReservation(event, '<%= -testline.id %>')">
								<% end %>
		                        		<i class="fa fa-server"></i> <%= testline.name %>
		                        	</a>
		                    </li>
				    	<% end %>     	
				    <% end %>
				     <%= link_to 'Download log file', reservations_download_log_file_path, :target => '_blank'%>	
			    </ul>
			   
	        </div>
	    </aside>
	    <section id="reservations">
	        <button type="button" class="sidenav-toggler">
	            <i class="fa fa-caret-left show-left"></i> 
	            <i class="fa fa-navicon"></i> 
	            <i class="fa fa-caret-right show-right"></i>
	        </button>
	        <h2>Reservations</h2>
	        <% @testlines.each do |testline| %>
				<% if testline.id == reserve1 %>
					<ul id="<%= -testline.id %>" class="list-group" style="display: block;">
				<% else %>
					<ul id="<%= -testline.id %>" class="list-group" style="display: none;">
				<% end %>
						<div class="vertical-bar"></div>
						<% currentReserve = 0 %>
						<% @reservations.each do |reserve| %>
							<% if testline.id == reserve.testline_id %>
					            <% if currentReserve == 0 %>
									<li class="list-item list-item-primary">
					                	<small class="badge badge-primary"><i class="fa fa-star"></i> Current</small>
					            <% elsif currentReserve == 1 %>
					            	<li class="list-item list-item-next">
					               		<small class="badge badge-next"><i class="fa fa-fast-forward"></i> Next in Line</small>
					            <% else %>
					            	<li class="list-item list-item-pending">
					               		<small class="badge badge-pending"><i class="fa fa-hourglass-1"></i> Pending</small>
					            <% end %>
						                <div class="list-item-header">
						                    <h3 class="title"><%= reserve.name %></h3>
						                    <small class="timestamp"><%= reserve.created_at.localtime.to_s(:db) %></small>
						                    <p class="subtitle"><%= reserve.team_name %> </p>
						                </div>
						                <p class="description"><%= reserve.description %>
						                </p>
						                <div class="list-item-footer">
						                    <small class="user">Reserved by <%= reserve.email %></small>
						                    <% if currentReserve == 0 %>
												<script>
													t[<%=--testline.id%>] = <%= (Time.now.minus_with_coercion(reserve.start_time)).to_i %>;
												</script>
												 <span class="time-used" id="<%= --testline.id %>"><i class="fa fa-clock-o"></i></span>
											<% end %>
						                </div>
						                <button type="button" class="release show-delete-modal"><i class="fa fa-times"></i> Release</button>
						            </li>
						        <% currentReserve += 1 %>
				            <% end %>
				        
				    	<% end %>
			    </ul>
			<% end %>
	    </section>
	<% end %>
</main>

<div class="modal" id="delete-modal">
    <div class="modal-confirm">
        <div class="modal-header">
            <button type="button" class="modal-close">&times;</button>
            <h3 class="modal-title"><i class="fa fa-trash"></i> Delete</h3>
        </div>
        <div class="modal-body">
            <p class="modal-text">Are you sure you want to delete Apple?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-btn bg-red">Delete</button>
            <button type="button" class="modal-btn">Cancel</button>
        </div>
    </div>
</div>	


<script>
	function activate_modal(id) {
		var s = document.getElementById(id);
	    s.style.display = "block";
	}

	function deactivate_modal(id) {
		var s = document.getElementById(id);
	    s.style.display = "none";
	}

	function openReservation(evt, cityName) {
	    var i, listgroups, sidenavlinks;

	    listgroups = document.getElementsByClassName("list-group");
	    for (i = 0; i < listgroups.length; i++) {
	        listgroups[i].style.display = "none";
	    }

	    // Get all elements with class="tablinks" and remove the class "active"
	    sidenavlinks = document.getElementsByClassName("sidenav-links");
	    for (i = 0; i < sidenavlinks.length; i++) {
	        sidenavlinks[i].className = sidenavlinks[i].className.replace(" active", "");
	    }

	    // Show the current tab, and add an "active" class to the link that opened the tab
	    document.getElementById(cityName).style.display = "block";
	    evt.currentTarget.className += " active";
	}
</script>



<script type="text/javascript">
	var timers = Object.keys(t);

	startTime();
	function startTime() {
		for (let i = 0; i < timers.length; i++) {
		   	var myDate = secToTime(Math.floor((new Date().getTime()) / 1000) + t[timers[i]] - pt);
			document.getElementById(timers[i]).innerHTML = myDate;
		}

		setTimeout(startTime, 1000);
	}

	function secToTime(time) {
		var sec = time % 60;
		sec = (sec < 10) ? "0" + sec : sec.toString();
		var min = Math.floor(time/60) % 60;
		min = (min < 10) ? "0" + min : min.toString();
		var hr = Math.floor(time/3600);
		return hr + ":" + min + ":" + sec;
	}
	
</script>


<style>
	/* ******************** Reservations ******************** */

	#reservations {
	    background: #dadada;
	    min-height: 100%;
	    transition: 0.5s;
	    box-sizing: border-box;
	}

	#reservations h2 {
	    display: inline-block;
	    margin: 15px 0;
	    color: #34495e;
	}


	/* ******************** List Group ******************** */

	.list-group .vertical-bar {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    width: 1rem;
	    border: 1px solid #888;
	    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	    background-size: 1rem 1rem;
	    background-color: #0275d8;
	    animation: progress-bar-stripes 1s linear infinite;
	}

	@keyframes progress-bar-stripes {
	    0% {
	        background-position: 1rem 0;
	    }
	    100% {
	        background-position: 0 0;
	    }
	}


	/* ******************** List item ******************** */

	.list-item {
	    box-sizing: border-box;
	    padding: 10px;
	    background: #fafafa;
	    position: relative;
	    margin: 20px 15px;
	    border-left: 5px solid #ccc;
	}

	.list-item .badge {
	    position: absolute;
	    top: -12px;
	    font-size: 0.75em;
	}

	.list-item .badge.badge-primary {
	    font-size: 0.96em;
	}

	.list-item .timestamp {
	    float: right;
	    margin-top: 10px;
	}

	.list-item .description {
	    color: #555;
	    font-size: 14px;
	    line-height: 1.6em;
	}

	.list-item .user {
	    float: left;
	}

	.list-item .time-used {
	    float: right;
	    font-size: 1.2em;
	}

	.list-item .user::before {
	    content: '\2014 \00A0';
	}

	.list-item .list-item-header::after,
	.list-item .list-item-footer::after {
	    content: "";
	    display: block;
	    clear: both;
	}

	.list-item .release {
	    position: absolute;
	    top: -12px;
	    right: -9px;
	    width: 31px;
	    height: 31px;
	    overflow: hidden;
	    color: #fff;
	    white-space: nowrap;
	    letter-spacing: 5px;
	    padding: 0.4em 0.8em;
	    border: 0;
	    border-radius: 18px;
	    background: #d9534f;
	    transition: 0.5s;
	}

	.list-item .release:hover {
	    background: #a94442 !important;
	    width: 100px;
	    letter-spacing: normal;
	    border-radius: 0;
	    /* top: 0; */
	    right: 0;
	}
</style>