<main class="wrapper" id="sidenav-container">
	<%= render partial: "partials/sidenav", :locals => {testlines: @testlines} %>
  	<section id="reservations">  
		<header>
			<%= render partial: "header", :locals => header("Reservations") %>
			<%= link_to reservations_download_log_file_path, :class => "download-link", target: :_blank do %>
				<i class="fa fa-download" aria-hidden="true"></i> Download log file
			<% end %>
		</header>
		<% if @testlines.count == 0 %>
			<div class="notice-wrapper">
				<h4>There are no test lines yet.</h4>
			</div>
		<% else %>
			<% @testlines.each do |testline| %>
				<ul id="tl-<%= testline.id %>" class="list-group">
					<% if testline.reservations.count == 0 %>
						<div class="notice-wrapper">
							<h4>This test line is currently not in use.</h4>
						</div>
					<% else %>
						<div class="vertical-bar"></div>
						<% testline.reservations.each_with_index do |reserve, index| %>
							<% orderProps = reserveOrder(index) %>
							<li class="list-item list-item-<%= orderProps['class'] %>">
								<small class="badge badge-<%= orderProps['class'] %>">
									<i class="fa fa-<%= orderProps['icon'] %>"></i> <%= orderProps['text'] %></small>
								<div class="list-item-header">
									<h3 class="title"><%= reserve.name %></h3><small class="timestamp"><%= reserve.created_at %></small>
									<p class="subtitle"><%= reserve.team.name %></p>
								</div>
								<p class="description"><%= reserve.description %></p>
								<div class="list-item-footer">
									<small class="user">Reserved by <%= reserve.user.email %></small>
									<div class="time-used">
										<i class="fa fa-clock-o"></i> <span id="tm-<%= testline.id %>"></span>
									</div>
								</div>
								<% if current_user.isAdmin? || (current_user.email == reserve.user.email )%>
									<% if reserve == testline.reservations.first %>
										<%= button_to [reserve.testline,reserve], method: :delete, :class => "release show-delete-modal", form: {:onsubmit => "return ask_modal(-#{reserve.id});"}, :id => "-#{reserve.id}" do %><i class="fa fa-times"></i> Release <% end %>
									<% else %>
										<%= button_to [reserve.testline,reserve], method: :delete, :class => "release show-delete-modal", form: {:onsubmit => "return ask_modal(-#{reserve.id});"}, :id => "-#{reserve.id}" do %><i class="fa fa-times"></i> Cancel <% end %>
									<% end %>
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</section>
</main>
<%= render partial: "partials/confirm_modal", :locals => modal_content("reservations") %>
<script type="text/javascript">
	var t = new Object();
	var pt =  Math.floor(new Date().getTime() / 1000);

	<%= timer_script @testlines %>

	var timers = Object.keys(t);
	startTime();
</script>