<main class="wrapper" id="sidenav-container">
  <%= testline_sidenav %>
  <section id="reservations">  
	<header>
		<%= render partial: "header", :locals => header("Reservations") %>
		<%= link_to reservations_download_log_file_path, :class => "download-link", target: :_blank do %>
			<i class="fa fa-download" aria-hidden="true"></i> Download log file
		<% end %>
	</header>
	<% if @testlines.count == 0  %>
		<%= no_testline_notice %>
	<% else %>
	    <% @testlines.each do |testline| %>
	    	<%= content_tag :ul, "", :id => "tl-#{testline.id}", :class => "list-group", :style => reserve_active(testline.id) do %>
		    	<% if testline.reservations.count == 0 %>
		    		<%= reserve_notice %>
		    	<% else %>
					<div class="vertical-bar"></div>
		    	<% end %>
				<% pos, sym, info, currentReserve = reserve_init %>
				<% @reservations.each do |reserve| %>
					<% if testline.id == reserve.testline_id %>
						<%= tag = content_tag :li, "", :class => "list-item list-item-#{pos[currentReserve]}" do %>
							<%= content_tag :small, "", :class => "badge badge-#{pos[currentReserve]}" do %>
								<%= content_tag :i, "", :class => "fa fa-#{sym[currentReserve]}" %>
								<%= info[currentReserve] %>
							<% end %>
							<%= reserve_header reserve %>
							<%= content_tag :p, reserve.description, :class => "description" %>
			                <div class="list-item-footer">
			                	<%= content_tag :small, "Reserved by #{reserve.email}", :class => "user" %>
			                    <% if currentReserve == 0 %>
									<span class="time-used">
										<i class="fa fa-clock-o"></i>
										<%= content_tag :a, "", :id => "tm-#{testline.id}" %>
									</span>
								<% end %>
			                </div>
			                <% if current_user.isAdmin? || (current_user.email == reserve.email )%>
			                	<% if reserve == testline.reservations.first %>
			                		<%= button_to [reserve.testline,reserve], method: :delete, :class => "release show-delete-modal", form: {:onsubmit => "return ask_modal(-#{reserve.id});"}, :id => "-#{reserve.id}" do %><i class="fa fa-times"></i> Release <% end %>
			                	<% else %>
			                		<%= button_to [reserve.testline,reserve], method: :delete, :class => "release show-delete-modal", form: {:onsubmit => "return ask_modal(-#{reserve.id});"}, :id => "-#{reserve.id}" do %><i class="fa fa-times"></i> Cancel <% end %>
			                	<% end %>
			               	<% end %>
				        <% end %>
				        <% currentReserve += 1 %>
		        	<% end %> 
		    	<% end %>
			<% end %>
		<% end %>
	<% end %>
  </section>
</main>
<%= render partial: "confirm", :locals => modal_content("reservations") %>
<script type="text/javascript">
	var t = new Object();
	var pt =  Math.floor(new Date().getTime() / 1000);

	<%= timer_script @testlines %>

	var timers = Object.keys(t);
	startTime();
</script>