<div class="container reservation-form">  
	<%= form_for([@testline,@testline.reservations.build], :html => {:class => "reserve"}) do |f| %>
		<h3><%= @testline.name %></h3>
		<fieldset>
			<%= f.text_field :name, :placeholder => "Title", :tabindex => "1", :required => "required" %>
		</fieldset>
		<fieldset>
			<%= f.email_field :email, :value => current_user.email, :tabindex => "2", :required => "required", :readonly => true%>
		</fieldset>
		<fieldset>
			<%= f.collection_select :team_name, Team.order(:name),:id,:name, include_blank: true, :tabindex => "3", :required => "required" %>
		</fieldset>
		<fieldset>
			<%= f.text_area :description, :placeholder => "Description", :tabindex => "4", :required => "required" %>
		</fieldset>
		<fieldset>
			<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
		</fieldset>
	<% end %>
</div>
