<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.datetime_select :from, id: :reservation_from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.datetime_select :to, id: :reservation_to %>
  </div>

  <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :team_name, id: :reservation_team_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
