<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.to %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @reservation.team_name %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
