<!DOCTYPE html>
<html>
	<head>
		<title>Test Line Reservation</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', controller_name, media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<nav id="main-nav" style="width: 100%;">
			<div class="wrapper">
				<button type="button" id="burger-nav" onclick="toggleMainNav()">
					<span class="bar1"></span>
					<span class="bar2"></span>
					<span class="bar3"></span>
				</button>
				<a href="/" class="navbar-brand">
					<i class="fa fa-server icon-lg" id="logo"></i>
					<h1>Test Line Reservation</h1>
				</a>
				<div class="navbar-nav">
					<h2>Main Navigation</h2>
					<% if user_signed_in? %>
						<ul>
							<li>
								<a href="/teams/">
									<i class="fa fa-users"></i> Teams
								</a>
							</li>
							<li>
								<a href="/reservations">
									<i class="fa fa-calendar-check-o"></i>    Reservations
								</a>
							</li>
							<% if current_user.isAdmin? %>
								<li>
									<a href="/admin">
										<i class="fa fa-cogs"></i> Administrator
									</a>
								</li>
							<% end %>
							<li>
								<%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, method: :delete %>	
							</li>
						</ul>
					<% else %>
						<%= form_for("user", :url => user_session_path) do |f| %>
							<div class="input-group">
								<span class="fa fa-user input-addon"></span>
								<%= f.email_field :email, :placeholder => "Email" %>
							</div>
							<div class="input-group">
								<span class="fa fa-key input-addon"></span>
								<%= f.password_field :password, :placeholder => "Password" %>
							</div>
							<%= f.submit 'Sign in', :class => "form-submit" %>
						<% end %>
					<% end %>
				</div>
			</div>
		</nav>
		<div class="rails-container"> 
			<%= yield %>
		</div>
	</body>
</html>